
@page "/terra"

<input type="checkbox" id="dev" name="dev" value="DEV">
<label for="dev"> DEV</label><br>

<input type="checkbox" id="sit" name="sit" value="SIT">
<label for="sit"> SIT</label><br>

<input type="checkbox" id="UAT" name="UAT" value="UAT">
<label for="UAT">UAT</label><br>

<input type="checkbox" id="MIT" name="MIT" value="MIT">
<label for="MIT">MIT</label><br>

<input type="checkbox" id="PROD" name="PROD" value="PROD">
<label for="PROD"> PROD</label><br>

<input type="checkbox" id="Disaster Recovery" name="Disaster Recovery" value="Disaster Recovery">
<label for="Disaster Recovery"> Disaster Recovery</label><br>

<hr>
<h1>unit test</h1>

<a align="right" href="#" class="cancel"> Yes </a>
<label>
<input type="radio" value=1 name="group">
</label>

<a align="right" href="#" class="next">No </a>
<label>
<input type="radio" value=1 name="group">
</label>

<br>

<a align="back" href="#" class="back"> Back</a>

<a align="generate code" href="#" class="generate code">Generate Code </a>

@code{ }

